// @font-face {
//   font-family: "BwMitga";
//   src: url("../fonts/BwMitga/BwMitga-Regular.otf") format("OpenType");
//   font-weight: 400;
// }

// @font-face {
//   font-family: "Pulse";
//   src: url("../fonts/Pulse/Pulse-regular.otf") format("OpenType");
//   font-weight: 400;
// }

// @font-face {
//   font-family: "Cormorant";
//   src: url("../fonts/Cormorant/CormorantGaramond-Medium.ttf") format("TrueType");
//   font-weight: 500;
// }

// book antiqua 400
// mazzard 500 400 300
//
@font-face {
  font-family: "Antiqua";
  src: url("../fonts/BKANT.TTF") format("TrueType");
  font-weight: 400;
}
@font-face {
  font-family: "Mazzard";
  src: url("../fonts/MAZZARDL-LIGHT.TTF") format("TrueType");
  font-weight: 300;
}
@font-face {
  font-family: "Mazzard";
  src: url("../fonts/MAZZARDL-REGULAR.TTF") format("TrueType");
  font-weight: 400;
}
@font-face {
  font-family: "Mazzard";
  src: url("../fonts/MAZZARDL-MEDIUM.TTF") format("TrueType");
  font-weight: 500;
}
