// @font-face {
//   font-family: "BwMitga";
//   src: url("../fonts/BwMitga/BwMitga-Regular.otf") format("OpenType");
//   font-weight: 400;
// }

// @font-face {
//   font-family: "Pulse";
//   src: url("../fonts/Pulse/Pulse-regular.otf") format("OpenType");
//   font-weight: 400;
// }

// @font-face {
//   font-family: "Cormorant";
//   src: url("../fonts/Cormorant/CormorantGaramond-Medium.ttf") format("TrueType");
//   font-weight: 500;
// }

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf") format("TrueType");
  font-weight: 400;
}
