footer.footer.flex.ai-center.flex-column
  .footer__logo 
    include ../../../images/footer_logo.svg
  .footer__social 
    a(href="http://")
      include ../../../images/facebook.svg
    a(href="http://")
      include ../../../images/instagram.svg
    a(href="http://")
      include ../../../images/tiktok.svg
    a(href="http://")
      include ../../../images/telegram.svg
    a(href="http://")
      include ../../../images/website.svg
//- script(src="js/axios.js" defer, async)
script(src="js/main.min.js" defer)