-
    var nav = [
        {
            title: 'ГОЛОВНА',
            link: '#'
        },
        {
            title: 'QUEEN',
            link: '#'
        },
    ]

header.header.container.flex.flex-column.jc-center
    .header__logo
        include ../../../images/logo.svg
    include ../../../images/capa.svg