.hero {
  position: relative;
  &__title {
    margin: 40px 0 12px;
  }
  &__subtitle {
    margin-bottom: 32px;
  }
  &__txt p {
    padding: 0 165px;
    @include font(24, 28, 300);
    text-align: center;
  }
  &__txt {
    margin-bottom: 28px;
  }
  &::before {
    content: url(../../images/flowers.svg);
    // width: 100px;
    // height: 100px;
    position: absolute;
  }
  &::after {
    content: url(../../images/flowers.svg);
    position: absolute;
    top: 0;
    right: 0;
    transform: scale(-1, 1);
  }
}
