.participants {
  background-image: url(../../images/crown_bg.svg);
  &__title {
    margin-bottom: 32px;
  }
  .item {
    position: relative;
    color: #000;
    width: 300px;
    margin-right: 60px;
    margin-bottom: 60px;
    &__image {
      margin-bottom: 18px;
      width: 300px;
      height: 300px;
      background-size: cover;
      background-repeat: no-repeat;
    }
    &:nth-child(1n) {
      .image {
        border-radius: 50% 50% 50% 0;
      }
    }
    &:nth-child(2n) {
      .image {
        border-radius: 0 50% 50% 50%;
      }
    }
    &:nth-child(3n) {
      .image {
        border-radius: 50% 0 50% 50%;
      }
    }
    &:nth-child(4n) {
      margin-right: unset;
      .image {
        border-radius: 50% 50% 0 50%;
      }
    }
    &__title {
      font-family: "Antiqua";
      @include font(40, 48, 400);
      text-transform: uppercase;
    }
    &__count {
      position: relative;
      padding-left: 35px;
      font-family: "Mazzard";
      @include font(24, 38, 400);
      &::before {
        position: absolute;
        content: url(../../images/crown_count.svg);
        left: 0;
        top: 0;
      }
    }
    &__descr {
      min-height: 220px;
      margin-bottom: 18px;
      p {
        font-family: "Mazzard";
        @include font(18, 22, 400);
      }
      @include max-width(b-md) {
        min-height: unset;
      }
    }
    &__btn {
      position: relative;
      font-family: "Mazzard";
      @include font(16, 18, 400);
      padding: 12px 28px;
      transition: ease-in-out 250ms;
      border-radius: 3px;
      cursor: pointer;
      background: linear-gradient(
        90deg,
        #78cbee 0%,
        #73c3e9 3.53%,
        #5797cc 25.52%,
        #4175b6 46.74%,
        #325ca6 66.74%,
        #284d9c 85.02%,
        #254899 100%
      );
      color: #fff;
      &::after {
        content: "Вартість 1 голосу 30 ₴";
        width: 160px;
        position: absolute;
        left: 0;
        top: 14px;
        z-index: -1;
        @include font(12, 18, 400);
        color: #000;
        transition: ease-in-out 250ms;
      }
      &:hover {
        &::after {
          transition: ease-in-out 250ms;
          left: 160px;
        }
      }
      .conf {
        display: none;
      }
      &.active {
        transform: translateX(141px);
        &::after {
          opacity: 0;
        }
        @include max-width(b-md) {
          transform: translateX(175px);
          padding: 12px 15px;
        }
        .vot {
          display: none;
        }
        .conf {
          display: block;
        }
      }
      // @include max-width(b-md) {
      // }
    }
    .pay {
      position: absolute;
      bottom: 10px;
      &__close {
        width: 18px;
        height: 18px;
        border-radius: 50%;
        cursor: pointer;
        background: linear-gradient(
          90deg,
          #78cbee 0%,
          #73c3e9 3.53%,
          #5797cc 25.52%,
          #4175b6 46.74%,
          #325ca6 66.74%,
          #284d9c 85.02%,
          #254899 100%
        );
        @include max-width(b-md) {
          height: 24px;
          width: 24px;
        }
      }
    }
    .count p {
      margin-right: 5px;
      @include max-width(b-md) {
        margin-right: unset;
      }
    }
    .count,
    .price {
      margin-right: 12px;
      @include max-width(b-md) {
        margin-right: 15px;
      }
    }

    .count {
      &__value {
        @include max-width(b-md) {
          p {
            margin: 0 5px;
            line-height: 24px;
          }
        }
      }
      &__plus,
      &__minus {
        cursor: pointer;
        @include max-width(b-md) {
          border-radius: 50%;
          color: #fff;
          width: 24px;
          height: 24px;
          display: flex;
          align-items: center;
          justify-content: center;
          background: linear-gradient(
            90deg,
            #78cbee 0%,
            #73c3e9 3.53%,
            #5797cc 25.52%,
            #4175b6 46.74%,
            #325ca6 66.74%,
            #284d9c 85.02%,
            #254899 100%
          );
        }
      }
    }
    .price p {
      @include max-width(b-md) {
        line-height: 23px;
      }
    }
    .price::after {
      content: "₴";
      position: absolute;
      top: 0px;
      right: 20px;
      @include max-width(b-md) {
        top: 3px;
        right: 27px;
      }
    }
    @include max-width(b-md) {
      margin-right: unset;
    }
  }
}
