.participants {
  background-image: url(../../images/crown_bg.svg);
  &__title {
    margin-bottom: 32px;
  }
  .item {
    position: relative;
    color: #000;
    width: 300px;
    margin-right: 60px;
    margin-bottom: 60px;
    &__image {
      margin-bottom: 18px;
      width: 300px;
      height: 300px;
      background-size: cover;
      background-repeat: no-repeat;
    }
    &:nth-child(1n) {
      .image {
        border-radius: 50% 50% 50% 0;
      }
    }
    &:nth-child(2n) {
      .image {
        border-radius: 0 50% 50% 50%;
      }
    }
    &:nth-child(3n) {
      .image {
        border-radius: 50% 0 50% 50%;
      }
    }
    &:nth-child(4n) {
      margin-right: unset;
      .image {
        border-radius: 50% 50% 0 50%;
      }
    }
    &__title {
      font-family: "Antiqua";
      @include font(40, 48, 400);
      text-transform: uppercase;
    }
    &__count {
      position: relative;
      padding-left: 35px;
      font-family: "Mazard";
      @include font(24, 38, 400);
      &::before {
        position: absolute;
        content: url(../../images/crown_count.svg);
        left: 0;
        top: 0;
      }
    }
    &__descr {
      min-height: 88px;
      font-family: "Mazard";
      @include font(18, 22, 400);
      margin-bottom: 18px;
    }
    &__btn {
      position: relative;
      padding: 12px 28px;
      transition: ease-in-out 250ms;
      border-radius: 3px;
      cursor: pointer;
      background: linear-gradient(
        90deg,
        #78cbee 0%,
        #73c3e9 3.53%,
        #5797cc 25.52%,
        #4175b6 46.74%,
        #325ca6 66.74%,
        #284d9c 85.02%,
        #254899 100%
      );
      color: #fff;
      &::after {
        content: "Вартість 1 голосу 30 ₴";
        width: 160px;
        position: absolute;
        left: 0;
        z-index: -1;
        @include font(12, 18, 400);
        color: #000;
        transition: ease-in-out 250ms;
      }
      &:hover {
        &::after {
          transition: ease-in-out 250ms;
          left: 160px;
        }
      }
      &.active {
        transform: translateX(141px);
        &::after {
          opacity: 0;
        }
      }
    }
    .pay {
      position: absolute;
      bottom: 10px;
      &__close {
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background: linear-gradient(
          90deg,
          #78cbee 0%,
          #73c3e9 3.53%,
          #5797cc 25.52%,
          #4175b6 46.74%,
          #325ca6 66.74%,
          #284d9c 85.02%,
          #254899 100%
        );
      }
    }
    .count p {
      margin-right: 5px;
    }
    .count,
    .price {
      margin-right: 12px;
    }
    .count {
      &__plus,
      &__minus {
        cursor: pointer;
      }
    }
    // .price::after {
    //   content: "₴";
    // }
  }
}
