- var title = 'TITLE'
- var gTag = 'G-'
-
    var nav = [
        {
            title: '',
            link: '#'
        }
    ];
    var items = [
        {
            image: 'images/IMG_4930.webp',
            name: 'Олександра Скідан',
            count: '1',
            txt: 'Це тестовий учасник'
        },
        {
            image: 'images/101001.webp',
            name: 'Олена Новікова',
            count: '1',
            txt: 'Я Олена , мені 37 маю доньку 8 років. Зараз проживаю в місті Бровари, переїхала в 2014 році з Луганської області. Наразі займаюсь улюбленою роботою - тренер з нарощування вій, 5 років назад відкрила свою студію краси. Більше року займаюсь танцями, це заряджає та надихає мене. Участь в конкурсі для мене - це мій крок до здійснення своєї дитячої мрії💫'
        },
        {
            image: 'images/photo_2024-02-12_17-06-35.webp',
            name: 'Олена Гирич',
            count: '1',
            txt: 'Це тестовий учасник'
        },
        {
            image: 'images/photo_2024-02-12_17-08-32.webp',
            name: 'Яна Танасійчук',
            count: '1',
            txt: 'Це тестовий учасник'
        },
        {
            image: 'images/photo_2024-02-13_13-32-20.webp',
            name: 'Оксана Філіпчук',
            count: '1',
            txt: 'Це тестовий учасник'
        },
        {
            image: 'images/IMG_5010.webp',
            name: 'Яна Мельник',
            count: '1',
            txt: 'Це тестовий учасник'
        },
        {
            image: 'images/IMG_7856.webp',
            name: 'Сашко Цуркан',
            count: '1',
            txt: 'Це тестовий учасник'
        },
        {
            image: 'images/IMG_4930.webp',
            name: 'Олександра Скідан',
            count: '1',
            txt: 'Це тестовий учасник'
        },
        {
            image: 'images/photo_2024-02-12_17-06-35.webp',
            name: 'Олена Гирич',
            count: '1',
            txt: 'Це тестовий учасник'
        },
        {
            image: 'images/photo_2024-02-12_17-08-32.webp',
            name: 'Яна Танасійчук',
            count: '1',
            txt: 'Це тестовий учасник'
        },
        {
            image: 'images/photo_2024-02-13_13-32-20.webp',
            name: 'Оксана Філіпчук',
            count: '1',
            txt: 'Це тестовий учасник'
        },
        {
            image: 'images/IMG_5010.webp',
            name: 'Яна Мельник',
            count: '1',
            txt: 'Це тестовий учасник'
        },
        {
            image: 'images/IMG_7856.webp',
            name: 'Сашко Цуркан',
            count: '1',
            txt: 'Це тестовий учасник'
        },
    ]
doctype html    
html(lang="uk")
    include pug/sections/global/head.pug
    body
        include pug/sections/global/header.pug
        section.section.hero
            .container
                h1.large-title.hero__title Charity Queen of Ukraine 2024
                h3.hero__subtitle Вітаємо Вас на сторінці голосування
                .hero__txt 
                    p «Charity Queen of Ukraine» - це всеукраїнський конкурс краси, створений Асоціацією Королев, як потужна платформа для самореалізації та благодійної ініціативи. 
                .hero__txt 
                    p Метою конкурса є  популяризації української жіночої вроди, як в Україні, так і за її межами, адже наші переможці є фіналістками світових конкурсів краси. 
        section.section.grid.container
            h2.medium-title.grid__title Що дає участь
            .grid__items.flex-lg.jc-center.wrap
                .item
                    .item__icon
                        include images/crown.svg
                    .item__text 
                        p Новий унікальний 
                        p досвід
                .item
                    .item__icon
                        include images/crown.svg
                    .item__text 
                        p Набуття або покращення навичок 
                        p дефіле, позування, мови
                .item
                    .item__icon
                        include images/crown.svg
                    .item__text 
                        p Ідеальне місце для подолання 
                        p страху публічності
                .item
                    .item__icon
                        include images/crown.svg
                    .item__text 
                        p Відкриття в собі 
                        p нових талантів
                .item
                    .item__icon
                        include images/crown.svg
                    .item__text 
                        p Подолання комплексів 
                        p та страхів
                .item
                    .item__icon
                        include images/crown.svg
                    .item__text 
                        p Втілення 
                        p мрій
                .item
                    .item__icon
                        include images/crown.svg
                    .item__text 
                        p Можливість заявити 
                        p про себе та свій бізнес
                .item
                    .item__icon
                        include images/crown.svg
                    .item__text 
                        p Особистий 
                        p розвиток
                .item
                    .item__icon
                        include images/crown.svg
                    .item__text 
                        p Підвищення 
                        p впізнаваності 
        section.section.grid.container
            h2.medium-title.grid__title Переваги конкурсу
            .grid__items.flex-lg.jc-center.wrap
                .item
                    .item__icon
                        include images/crown.svg
                    .item__text 
                        p Членство в 
                        p Асоціації Королев
                .item
                    .item__icon
                        include images/crown.svg
                    .item__text 
                        p Доступ до топових 
                        p проектів та подій країни
                .item
                    .item__icon
                        include images/crown.svg
                    .item__text 
                        p Корисні особисті 
                        p та бізнес контакти
                .item
                    .item__icon
                        include images/crown.svg
                    .item__text 
                        p Публікації в ЗМі 
                        p та інтерв’ю
                .item
                    .item__icon
                        include images/crown.svg
                    .item__text 
                        p Можливість потрапити 
                        p на телебачення 
                .item
                    .item__icon
                        include images/crown.svg
                    .item__text 
                        p Знайомство з зірками 
                        p та топовими блогерами
                .item
                    .item__icon
                        include images/crown.svg
                    .item__text 
                        p Підготовка в команді з 
                        p фахівцями міжнародного рівня
        section.section.participants.container
            h2.large-title.participants__title Наші фіналістки
            .participants__items.flex.wrap.jc-center
                for item in items
                    .item
                        .item__image.image(style=`background-image: url(${item.image})`)
                        .item__title= item.name
                        .item__count= item.count
                        .item__descr
                            p= item.txt
                        .item__pay.pay.flex
                            .pay__count.count.flex
                                .count__minus.minus 
                                    p -
                                .count__value.value 
                                    p 1
                                .count__plus.plus
                                    p +
                            .pay__price.price 
                                p 30
                            .pay__close.close.flex.ai-center.jc-center
                                include images/close.svg
                        button.item__btn.vote-btn 
                            p.vot Проголосувати
                            p.conf Підтвердити
                

        include pug/sections/global/footer.pug