- var title = 'TITLE'
- var gTag = 'G-'
-
    var nav = [
        {
            title: '',
            link: '#'
        },
        {
            title: '',
            link: '#'
        },
        {
            title: '',
            link: '#'
        },
        {
            title: '',
            link: '#'
        },
        {
            title: '',
            link: '#'
        },
        {
            title: '',
            link: '#'
        }
    ]
doctype html    
html(lang="uk")
    include pug/sections/global/head.pug
    body
        include pug/sections/global/header.pug
        
        include pug/sections/global/footer.pug