.footer {
  padding: 15px 0;
  background: linear-gradient(
    90deg,
    #78cbee 0%,
    #73c3e9 3.53%,
    #5797cc 25.52%,
    #4175b6 46.74%,
    #325ca6 66.74%,
    #284d9c 85.02%,
    #254899 100%
  );
  &__logo {
    margin-bottom: 18px;
  }
  &__social {
    a {
      margin-right: 12px;
    }
  }
}
