h1,
h2 {
  font-family: "Antiqua";
  text-transform: uppercase;
  background: linear-gradient(
    90deg,
    #78cbee 0%,
    #73c3e9 3.53%,
    #5797cc 25.52%,
    #4175b6 46.74%,
    #325ca6 66.74%,
    #284d9c 85.02%,
    #254899 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  &.large-title {
    @include font(72, 86, 400);
    @include max-width(b-md) {
      @include font(40, 48, 400);
    }
  }
  &.medium-title {
    @include font(48, 58, 400);
    margin-bottom: 30px;
    @include max-width(b-md) {
      @include font(32, 38, 400);
    }
  }
  @include max-width(b-md) {
    @include font(32, 38, 400);
  }
}

h3 {
  @include font(36, 42, 500);
  @include max-width(b-md) {
    @include font(20, 23, 500);
  }
}

h1,
h2,
h3 {
  text-align: center;
}

h3,
p {
  font-family: "Mazzard";
}
h4,
h5,
h6 {
  // font-family: "Pulse";
}
